MERIDIAN_ENVIRONMENT={{ meridian_environment }}
MERIDIAN_APP_NAME=Meridian API
MERIDIAN_APP_PORT={{ meridian_app_port }}
MERIDIAN_API_HOST={{ meridian_api_host }}
MERIDIAN_API_PORT={{ meridian_app_port }}
MERIDIAN_HOME_REGION={{ meridian_home_region }}
MERIDIAN_ACTIVE_REGIONS={{ meridian_active_regions }}
MERIDIAN_OCI_AUTH={{ meridian_oci_auth }}
MERIDIAN_ENABLE_LIVE_OCI={{ meridian_enable_live_oci }}
MERIDIAN_TENANCY_OCID={{ meridian_tenancy_ocid }}
