MERIDIAN_APP_NAME=Meridian API
MERIDIAN_ENVIRONMENT={{ meridian_environment }}
MERIDIAN_API_HOST={{ meridian_api_host }}
MERIDIAN_API_PORT={{ meridian_app_port }}

MERIDIAN_HOME_REGION={{ meridian_home_region }}
MERIDIAN_ACTIVE_REGIONS={{ meridian_active_regions }}
MERIDIAN_COMPARTMENT_IDS={{ meridian_compartment_ids }}
MERIDIAN_TENANCY_OCID={{ meridian_tenancy_ocid }}

MERIDIAN_OCI_AUTH={{ meridian_oci_auth }}
MERIDIAN_OCI_PROFILE={{ meridian_oci_profile | default('DEFAULT') }}
MERIDIAN_ENABLE_LIVE_OCI={{ meridian_enable_live_oci }}
MERIDIAN_ENABLE_RESOURCE_SEARCH_SCOPE={{ meridian_enable_resource_search_scope | default('true') }}

MERIDIAN_INVENTORY_CACHE_TTL_SECONDS={{ meridian_inventory_cache_ttl | default(30) }}
MERIDIAN_INVENTORY_SNAPSHOT_TTL_SECONDS={{ meridian_inventory_snapshot_ttl | default(900) }}
MERIDIAN_INVENTORY_SNAPSHOT_DIR={{ meridian_inventory_snapshot_dir | default(meridian_app_root + '/data/snapshots') }}

MERIDIAN_SECURITY_ACTION_OBJECT_STORAGE_ENABLED={{ meridian_security_action_object_storage_enabled | default('false') }}
MERIDIAN_SECURITY_ACTION_OBJECT_STORAGE_NAMESPACE={{ meridian_security_action_object_storage_namespace | default('') }}
MERIDIAN_SECURITY_ACTION_OBJECT_STORAGE_BUCKET={{ meridian_security_action_object_storage_bucket | default('') }}
MERIDIAN_SECURITY_ACTION_OBJECT_STORAGE_PREFIX={{ meridian_security_action_object_storage_prefix | default('meridian/security-actions/') }}
MERIDIAN_SECURITY_ACTION_RETENTION_DAYS={{ meridian_security_action_retention_days | default(365) }}
